In [7]:
'''
Input and output functions

1. stdout using print
2. formatted printing
3. stdin using 

'''

'\nInput and output functions\n\n1. stdout using print\n2. formatted printing\n3. stdin using \n\n'

In [8]:
a = 4
print a # a simple print statement

4

In [9]:
print 'the value of a is: ',a 
#note that there is no %d inside the string so we don't have % before a

the value of a is:  4

In [10]:
print 'the value of a is %d' %a
#note that since there is %d inside the string, so we have % before a

the value of a is 4

In [4]:
# number.zfill(n) will put zeros so that the 
# total number of digits in the number is n 
# if the number has a negative in front then the negative sign 
# is also accounted for.
'314'.zfill(10)

'0000000314'

In [12]:
print'-3.14'.zfill(10)

-000003.14

In [13]:
# formatted printing
print '{0} and {1}'.format('san jose','santa clara')

san jose and santa clara

In [9]:
a= 'sanjose'
b= 'santaclara'
print '{0} and {1}'.format('a','b')

a and b

In [15]:
 print '{0} and {1}'.format('san jose') # fails as we need to provide two values

IndexError: tuple index out of range

In [16]:
 print '{0}'.format('san jose','santa clara') 
# the first value in the list will be printed

san jose

In [17]:
 print '{nearcity} and {farcity}'.format(farcity='Sacramento',nearcity='San jose')

San jose and Sacramento

In [18]:
import math 
print 'PI = %0.5f'%(math.pi) # The () is optional for one input

PI = 3.14159

In [19]:
a=3.76
print 'a =%d'%a#print only the integer value

a =3

In [4]:
a = 5
b = 3.25
print 'a = %d %d' %(a,b)

a = 5 3

In [3]:
a = 5
b = 3.25
c = '5.6'#c is a string
print 'a = %03d b = %0.2f c = %s' %(a,b,c)

a = 005 b = 3.25 c = 5.6

In [22]:
a = 5.0
type(a)

float

In [5]:
b =3
type(b)

int

In [6]:
f = open('python_list.txt')
print f
for line in f.readlines():
    print line.strip("10")
f.close()

<open file 'python_list.txt', mode 'r' at 0x1048aef60>
dogs00000011111111



  frogs

                      bogs



     logs     lots







lots

In [24]:
# Try change the path of the file()
f = open('python_list.txt')
print f
for line in f.readlines():
    print line.strip()
f.close()

<open file 'python_list.txt', mode 'r' at 0x032BC6A8>
dogs00000011111111

frogs
bogs

logs     lots



lots

In [25]:
'''
raw_input() gets input from the command line.
In this example, we are getting the input from the user and assigning it 
to variable s.
'''
s = raw_input('Enter a name : ')
print s

Enter a name : divya
divya

In [26]:
'''
raw_input() gets input from the command line.
In this example, we are getting the input from the user and assigning it 
to variable s.
'''
s = raw_input('Enter a name : ')
print s, type(s)

Enter a name : divya
divya <type 'str'>

In [13]:
'''
raw_input() gets input from the command line.
In this example, we are getting the input from the user and assigning it 
to variable s.
'''
s = raw_input('Enter a height. :' )
print s, type(s)

Enter a height. :1234
1234 <type 'str'>

In [ ]:
'''
In-class activity: Ask the user to input an integer.
Print the value and its type. If type is not integer, type cast it to integer
'''

In [28]:
int1 = int(raw_input('please enter an integer'))
print int1, type(int1)

please enter an integer1234
1234 <type 'int'>

In [29]:
int1 = raw_input('please enter an integer')
#since we know int1 will be of type string
int1 = int(int1)
print int1
print type(int1)

please enter an integer1234
1234
<type 'int'>

In [30]:
print int1; print type(int1); print 175

1234
<type 'int'>
175

In [31]:
a = 'r'
b = str(2)
print a+b#string concatenation

r2

In [32]:
a = 'r'
b = str(2)
print a,b

r 2

In [ ]:
'''
Inclass activity: Can you insert a space between r and 2? If yes, then implement it. 
'''

In [33]:
a= 'r'
b= str(2)
print a,b

r 2

In [7]:
'''
Inclass activity: Create a txt file and write names of 10 states and close the file. Then open the file
and print each list
'''
f=open('C:\Users\hello\Desktop\div.txt','w')
f.write ("abc\n")
f.write("xyz \n")
f.write("i234\n")
f.write("divya\n")
f.write("himanshu\n")
f.close()
e=open('C:\Users\hello\Desktop\div.txt','r')
print e.read()

abc
xyz
i234
divya
himanshu

In [8]:
f=open('C:\Users\hello\Desktop\div.txt','w')
f.write ("yes\n")
f.write("love \n")
f.write("hero\n")
f.write("ektha\n")
f.write("kapish\n")
f.write("Rakesh\n")
f.close()
e=open('C:\Users\hello\Desktop\div.txt','r')
print e.read()

yes
love
hero
ektha
kapish
Rakesh

In [9]:
f=open('C:\Users\hello\Desktop\helloworld.txt','w')
f.write ("himanshu\n")
f.write("divya \n")
f.write("ektha\n")
f.write("kapish\n")
f.write("rakesh\n")
f.close()
e=open('C:\Users\hello\Desktop\div.txt','r')
print e.read()

yes
love
hero
ektha
kapish
Rakesh

In [35]:
f=open('C:\Users\hello\Desktop\div.txt','a')#to make changes to exsiting file use append
f.write("anil\n")
f.write("pajam\n")
f.close()
e=open('C:\Users\hello\Desktop\div.txt','r')
print e.read()

abc
xyz
i234
divya
himanshu
anil
pajam