In [ ]:
'''
Data Structures

1. List
2. Dictionary
3. tuples
4. sets
5. strings
6. slicing lists and tuples
7. List comprehension
https://docs.python.org/2/tutorial/datastructures.html
'''

In [1]:
'''
Syntax for list is n = [item1, item2, item3].  The items can be any 
Python object. The index of the list starts from zero
'''
mylist = [1,2,"CA",[3,4]]  
# mylist is a collection of numbers, string and a list
print mylist

[1, 2, 'CA', [3, 4]]

In [2]:
print mylist[0] # this returns the first element in mylist

1

In [3]:
print mylist[-2] # this returns the last but one element in mylist
print mylist[-1]#this return the last element in my list

CA
[3, 4]

In [4]:
print mylist[-1]
print mylist[-1][-2]
print mylist[-1][0]
print mylist[3][0]
print mylist[3][-2]

[3, 4]
3
3
3
3

In [5]:
# mylist[a:b] will return elements with index starting from a up to b-1. 
# This process is called Slicing
c= mylist[0:2]
print c

[1, 2]

In [6]:
print mylist[-1][1] #this is used to get elements from a list of list

4

In [7]:
# append will add a value to the end of the list
mylist.append(3.14) 
print mylist

[1, 2, 'CA', [3, 4], 3.14]

In [5]:
# Pop removes an element at the given index
d = mylist.pop(2)
print d

print mylist[2].pop(2)
print mylist

NameError: name 'mylist' is not defined

In [10]:
# Insert adds an element at the given index
mylist.insert(2,"MN")
print mylist

[1, 2, 'MN', 3.14]

In [11]:
print mylist[1]

2

In [13]:
mylist = ['couple','3','3a',1,5,2,2.4,'c','0'] # note '3' is a string
mylist.sort()#sort()is an inline function that works on mylist and
#assignment and sort can't be done in a single
a= mylist
# print a, mylist
print a 
print mylist

[1, 2, 2.4, 5, '0', '3', '3a', 'c', 'couple']
[1, 2, 2.4, 5, '0', '3', '3a', 'c', 'couple']

In [14]:
'''
sort() function will sort the list in ascending order. 
If reverse = True is specified then it will sort the list on 
descending order
'''
mylist.sort(reverse=True)
print mylist

['couple', 'c', '3a', '3', '0', 5, 2.4, 2, 1]

In [15]:
'''
for list of lists, sort command sorts the lists with respect to the first 
element in the lists
'''
a = [[10,3],[5,2]]#it will not do inner sorting
a.sort()
print a

[[5, 2], [10, 3]]

In [16]:
a = ['aplle', 'abate']#it will not do inner sorting
a.sort()
print a

['abate', 'aplle']

In [17]:
b = [['q', 'a'], ['dog','cat']]
b.sort()
print b

[['dog', 'cat'], ['q', 'a']]

In [4]:
mylist = [2,3,2,5,6,6,6]
mylist.count(3) 
m = ['apple', 'cat', 'cat', 'sat']
m.count('cat')
print mylist
print m

'''
count will return the frequency of occurance of a particular value 
in the list
'''

[2, 3, 2, 5, 6, 6, 6]
['apple', 'cat', 'cat', 'sat']

'\ncount will return the frequency of occurance of a particular value \nin the list\n'

In [ ]:
'''
In-class activity if list1 =[9,8,7,4]
1)insert 3 at the index 2
2)pop the number 7
3)append 'Python and 2.7 and your first name at the end of the list as separate 
elements
4)sort the list
after every operation print the list
'''

In [24]:
mylist =[9,8,7,4]
mylist.insert(2,3)
print mylist

[9, 8, 3, 7, 4]

In [25]:
mylist =[9,8,7,4]
print mylist.pop(3)
print mylist

4
[9, 8, 7]

In [27]:
mylist =[9,8,7,4]
mylist.append('python')

mylist.append('2.7')

mylist.append('divya')
print mylist

[9, 8, 7, 4, 'python', '2.7', 'divya']

In [30]:
mylist =[9,8,7,4]
mylist.sort()
print mylist

[4, 7, 8, 9]

In [29]:
newlist = set(mylist)
print newlist, type(newlist)
newlist = list(set(mylist))
print newlist

set([8, 9, 4, 7]) <type 'set'>
[8, 9, 4, 7]

In [31]:
# EXTEND METHOD
mylist = [1,2,3]
newl = [4,5,6]
#mylist.append(newl)
mylist.extend(newl)
print mylist

[1, 2, 3, 4, 5, 6]

In [32]:
mylist = [1,2,3]
bylist = mylist
mylist.extend([4,5,6])
print mylist
print bylist
#print "mylist extend",mylist_copy1
#print mylist,len(mylist)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [33]:
mylist = [1,2,3]
mylist_copy = mylist
print mylist
print mylist_copy
mylist_copy.append([4,5,6])
#print "mylist append",mylist_copy
print mylist,len(mylist)
print mylist_copy,len(mylist_copy)
# len(object) will return the number of items of an object

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, [4, 5, 6]] 4
[1, 2, 3, [4, 5, 6]] 4

In [ ]:
'''
Note 1: mylist.append([4,5,6]) will add this list to the end of mylist. 
Whereas mylist.extend([4,5,6]) will add values 4, 5 and 6 to mylist.

Note 2: mylist_copy1 is a copy of mylist. Any changes to mylist_copy1 
will also affect mylist because the copy we made is a shallow copy.
'''

In [34]:
#### DEEP COPY
mylist = [5,9,3]
mylist_copy2 = mylist[:]#deep copy of my list
mylist_copy2.append([11,2,3])
mylist.sort()
#mylist_copy2.sort()
print mylist
print mylist_copy2
#print "mylist append", mylist_copy2
#print mylist, len(mylist)

[3, 5, 9]
[5, 9, 3, [11, 2, 3]]

In [ ]:
'''
Note: mylist_copy2 is a deep copy of mylist so any changes to mylist_copy2 
will not affect mylist and vice versa.
'''

In [ ]:
'''
In-class activity:
if lista =['apricot','jam']
use extend function to add 'jelly' to lista
'''

In [39]:
lista = ['apricot','jam']
newa = ['jelly']
lista.extend(newa)
print lista

['apricot', 'jam', 'jelly']

# filter(), map(), and reduce()

In [17]:
for i in range(2,10):
    if i%2!=0:
        print i

3
5
7
9

In [16]:
# Get all odd numbers between 2 and 10
a = range(2,10)
print a

def f(x): 
    return x % 2 != 0

b = filter(f, a) 
'''
filter command takes two inputs one is a function and other one is 
iterable filter returns a list of values that satisfies the condition, 
in this case it returns all the values between 2 and 9 that 
are NOT divisible by 2. 
'''
print b

[2, 3, 4, 5, 6, 7, 8, 9]
[3, 5, 7, 9]

In [20]:
a= range(0,100)
print a
def f(x):
    return x%3==0 and x%5==0
b=filter(f,a)
print b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 15, 30, 45, 60, 75, 90]

In [21]:
# Get all odd numbers between 2 and 10 using LAMBDA FUNCTIONS
a = range(2,10)
b = filter(lambda x:x%2!=0, a) 
'''
We replaced the function f with a lambda function 
(also known as anonymous function). The lambda function needs to 
be read as follows. The x to the left of the : is the argument to 
the function. The expression x%2!=0 to the right of : is the 
operation being performed inside the function and also the value 
being returned by the function.
'''
print b

[3, 5, 7, 9]

In [22]:
def squared(x): 
    return x*x

print map(squared, range(1, 5)) 
'''
map command takes a function and iterable(s). In this case one input is 
the function and other input is the values. Map returns a list which is the 
output of the function. In this case it returns the squares of the values 
from 1 to 4. Map takes a set of values and returns another set of values 
based on the function.
'''

[1, 4, 9, 16]

'\nmap command takes a function and iterable(s). In this case one input is \nthe function and other input is the values. Map returns a list which is the \noutput of the function. In this case it returns the squares of the values \nfrom 1 to 4. Map takes a set of values and returns another set of values \nbased on the function.\n'

In [23]:
'''
LAMBDA function - anonymous functions
lambda (input1, input2) : output
An equivalent function is the squared function list above
'''
print map(lambda x:x*x, range(1, 5))

[1, 4, 9, 16]

In [1]:
# You can also give a name to the lambda function
lambdasq = lambda x:x*x
print map(lambdasq, range(1, 5))

[1, 4, 9, 16]

In [24]:
a = [1,2,3]
b = [4,5,6]
def add(a1, b1): 
    return a1+b1
print map(add,a,b)
# here map takes two lists and adds them

[5, 7, 9]

In [4]:
# Reduce operation is used to shrink an iterable to a single value
# Find the sum of all elements in a list
a = [1,2,5]
print reduce(lambda x,y: x+y, a)

8

In [6]:
a = [1,2,5]
print reduce(lambda x,y: x*y , a)

10

In [ ]:
## LIST COMPREHENSION #improve to speed of the programme

In [2]:
# traditional method
squares = []
for x in range(10):
    squares.append(x**2)
print squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
# smart method using list comprehension #important use this list comprehensive when it is asked to use it.
squares = [x**2 for x in range(10)]
print squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
multiples = [i for i in range(99)if i%3==0 and i% 5==0]
print multiples

[0, 15, 30, 45, 60, 75, 90]

In [11]:
# an elaborate example of list comprehension which combines two lists and 
# returns a list of tuples
combined = [(x, y) for x in [1,2,3,4] for y in [3,1,4] if x != y and x>y]
print combined

'''
(2,1),(3,1),(4,3),(4,1)

'''

[(2, 1), (3, 1), (4, 3), (4, 1)]

'\n(2,1),(3,1),(4,3),(4,1)\n\n'

In [ ]:
'''
Tuple is a collection of immutable Python elements. That means we cannot 
delete, add or modify elements in a tuple. The syntax for a tuple is 
a = (item1,item2,item3,).  
'''

In [11]:
T1 = 1,2,'String'
# Here Python will automatically assumes T1 is a tuple
print T1

(1, 2, 'String')

In [12]:
emptyTuple = ()
print emptyTuple

()

In [13]:
T2 = (1,)
# without the comma, T2 will be of type integer and not tuple
print T2,type(T2)

(1,) <type 'tuple'>

In [14]:
T2 = T2+1 # Not allowed, as tuple cannot be modified
print T2,type(T2)

TypeError: can only concatenate tuple (not "int") to tuple

In [15]:
T3 = T1,T2 # T3 is a tuple of tuples
print T3
print T3[0]
print T3[0][1] 
# 0 index indicates the first tuple and 1 index indicates the 
# second element in the first tuple

((1, 2, 'String'), (1,))
(1, 2, 'String')
2

In [16]:
T3[0][0]=2 # New values cannot be assigned

TypeError: 'tuple' object does not support item assignment

In [17]:
t  = (1,2,3)
def squared(x): 
    return x*x
print map(squared, t) 
# map operation on a tuple. This returns a list. Note map function always 
# returns a list, even if the input is not a list.

[1, 4, 9]

In [24]:
t  = (1,2,3)
print t,type(t)

l = list(t)
print l,type(t)

t2 = tuple(l)
print t2, type(t2)

(1, 2, 3) <type 'tuple'>
[1, 2, 3] <type 'tuple'>
(1, 2, 3) <type 'tuple'>

In [25]:
B = (1,) # B is a tuple with one element
B = (1,2,) # a new tuple named B is created which has two elements
B = () # a new tuple named B is created with no elements
print B

()

In [26]:
A = (2,4,5,8,10,11)
B = ('CA', 'MN', 'TX')
C = A + B # + operation concatenates the tuples
print C

(2, 4, 5, 8, 10, 11, 'CA', 'MN', 'TX')

In [27]:
# Basic tuple operations
print len(A) 
print max(B)
print min(B)

6
TX
CA

In [28]:
# Basic tuple operations
H = ('Hello',)
print H*4 # * means repetition

('Hello', 'Hello', 'Hello', 'Hello')

In [ ]:
'''
Inclass activity: Consider the tuple t1 = (2,4,8). 
1. Try to modify the first element of the tuple to 5. 
2. Convert the tuple into a list and append the number 5 to the list
3. Use extend to add [1,4,5] to the list
4. Pop the third item from the list and then print the list.
5. Convert it back into a tuple. 
'''

In [32]:

t = (2,4,8)
lst = list(t)
lst[0] = 5
t = tuple(lst)
print list(t)

[5, 4, 8]

In [38]:
lista = [2,4,8]
newa = [1,5,5]
lista.extend(newa)
print lista

[2, 4, 8, 1, 5, 5]

In [36]:
mylist =[2,4,8,1,5,5]
print mylist.pop(2)
print mylist

8
[2, 4, 1, 5, 5]

In [ ]:
'''
Another useful data type built into Python is the dictionary 
(see Mapping Types — dict). Dictionaries are sometimes found in other 
languages as “associative memories” or “associative arrays”. Unlike 
sequences, which are indexed by a range of numbers, dictionaries are 
indexed by keys, which can be any immutable type; strings and numbers can 
always be keys. Tuples can be used as keys if they contain only strings, 
numbers, or tuples; if a tuple contains any mutable object either directly 
or indirectly, it cannot be used as a key. You can’t use lists as keys, 
since lists can be modified in place using index assignments, slice 
assignments, or methods like append() and extend(). 
https://docs.python.org/2/tutorial/datastructures.html#tuples-and-sequences
'''

In [39]:
ziploc = {}
print ziploc

{}

In [42]:

ziploc['95117'] = 'Santa Clara'
print ziploc['95117']

Santa Clara

In [43]:
ziploc['95054'] = 'Santa Clara'
print ziploc

{'95054': 'Santa Clara', '95117': 'Santa Clara'}

In [ ]:

'''
In class activity create a dictionary with course no. as a key and a course tittle as a value. 
print the dictionary
'''

In [57]:
course= {}
course[3067] = 'PYTHON'
print course

{3067: 'PYTHON'}

In [62]:
# syntax for a dictionary is dict = {'key1': 'value1', 'key2': 'value2'}
# dict is a key-value pair
ziploc = {'95117': 'San Jose','94086':'Sunnyvale','95014': 'Cupertino'}
# in this example for key 95117, San Jose is the value, 
# for key 94086, Sunnyvale is the value
print ziploc
print ziploc.keys()
print tuple(ziploc.keys())
print ziploc.values()

{'95117': 'San Jose', '95014': 'Cupertino', '94086': 'Sunnyvale'}
['95117', '95014', '94086']
('95117', '95014', '94086')
['San Jose', 'Cupertino', 'Sunnyvale']

In [1]:
mylist = {'bat', 'cat', 'bat', 'zebra', 'turtle', 'cat', 'bat', 'bat', 'zebra'}
print mylist

set(['turtle', 'bat', 'zebra', 'cat'])

In [32]:
mylist=['bat', 'cat', 'bat', 'zebra', 'turtle', 'cat', 'bat', 'bat', 'zebra']
print mylist
dict= {}
dict(bat)='cat'
print dict

SyntaxError: can't assign to function call (<ipython-input-32-680187ee9571>, line 4)

In [27]:
for keys in mylist:  
    print keys,ziploc[keys]

turtle

NameError: name 'ziploc' is not defined

In [63]:
for keys in ziploc:
    print keys,ziploc[keys]

95117 San Jose
95014 Cupertino
94086 Sunnyvale

In [64]:
for keys,value in ziploc.iteritems(): # Use .items() for version 3.0+
    print keys,value

95117 San Jose
95014 Cupertino
94086 Sunnyvale

In [65]:
print ziploc['55421'] # Not allowed, as the dictionary does not have key 55421

KeyError: '55421'

In [67]:
exists = False
for k,v in ziploc.iteritems():
    if k == '95117':
        exists = True
        break
print exists

True

In [66]:
'55421' in ziploc

False

In [68]:
ziploc.items() # dict.items() returns a list of (key,value) tuple pairs

[('95117', 'San Jose'), ('95014', 'Cupertino'), ('94086', 'Sunnyvale')]

In [ ]:
ziploc.clear() # removes all the elements of the dictionary
print ziploc

In [69]:
squared = {x: x**2 for x in range(5)}
# we are using dictionary comprehension 
print squared

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [73]:
mylist = [2,3,2,5,6,6,6]
print mylist.count(3)

1

In [74]:
d = dict(a=1, b=2, e=1, d=2, c=1, g=2, f=3)
print d

{'a': 1, 'c': 1, 'b': 2, 'e': 1, 'd': 2, 'g': 2, 'f': 3}

In [75]:
for items in d.iteritems():
    print items

('a', 1)
('c', 1)
('b', 2)
('e', 1)
('d', 2)
('g', 2)
('f', 3)

In [71]:
countdict = {}
for items in mylist:
   #print items
    countdict[items] = mylist.count(items)
print countdict

{1: 1, 2: 1, 4: 1, 5: 2}

In [35]:
Animals=['bat', 'cat', 'bat', 'zebra', 'turtle', 'cat', 'bat', 'bat', 'zebra']#given list
countdict = {}
for items in Animals:
    countdict[items]= Animals.count(items)
print countdict

{'turtle': 1, 'bat': 4, 'zebra': 2, 'cat': 2}

In [76]:
for i,j in d.iteritems():
    print i,j

a 1
c 1
b 2
e 1
d 2
g 2
f 3

In [ ]:
'''
Set - is a unordered collection of unique items
'''

In [78]:
vegetables = ['tomatoes','eggplant','cucumber','eggplant'] # A list
vegetables_set = set(vegetables)
# set command returns only unique items
print vegetables
print vegetables_set

['tomatoes', 'eggplant', 'cucumber', 'eggplant']
set(['cucumber', 'eggplant', 'tomatoes'])

In [81]:
a = list(vegetables_set)
# vegetables_set[0] # Not allowed as set cannot be indexed. You can iterate 
# through them.
print a[2]

tomatoes

In [82]:
for items in vegetables:
    print items

tomatoes
eggplant
cucumber
eggplant

In [83]:
for items in vegetables_set:
    print items

cucumber
eggplant
tomatoes

In [84]:
print 'Cucumber' in vegetables_set 
# the above statement checks whether Cucumber is in vegetables_set

False

In [85]:
finallistofveg = list(vegetables_set)
print finallistofveg

['cucumber', 'eggplant', 'tomatoes']

In [87]:
a = [1,1,4,5,7]
print type(a), a
b = set(a)
c = list(b)
print c

print list(set(a))

<type 'list'> [1, 1, 4, 5, 7]
[1, 4, 5, 7]
[1, 4, 5, 7]

In [ ]:
'''
From https://docs.python.org/2/library/sets.html, you can obtain a list 
of all operators that can be applied to sets
len(s): cardinality of set s
x in s: tests x for membership in s
x not in s: tests x for non-membership in s
s.issubset(t): <= t: test whether every element in s is in t
s.issuperset(t): s >= t: test whether every element in t is in s
s.union(t): s | t : new set with elements from both s and t
s.intersection(t): s & t : new set with elements common to s and t
s.difference(t): s - t : new set with elements in s but not in t
s.symmetric_difference(t) : s ^ t : new set with elements in either 
                            s or t but not both
s.copy(): new set with a shallow copy of s
'''

In [88]:
list1 = [1,2,3,45,76]
list2 = [2,3,45]
set1 = set(list1)
set2 = set(list2)
print set1
print set2

print set1.union(set2)
print set1.intersection(set2)
print set1.difference(set2)
print 1 in set1 # Check if an element exists in a set using in keyword
print set1.issubset(set2)

set([1, 2, 3, 76, 45])
set([2, 3, 45])
set([1, 2, 3, 76, 45])
set([2, 3, 45])
set([1, 76])
True
False

In [90]:
countdict = {}
print mylist
uniqlist = list(set(mylist))
for items in uniqlist:
    print items
    countdict[items] = mylist.count(items)
print countdict

[2, 3, 2, 5, 6, 6, 6]
2
3
5
6
{2: 2, 3: 1, 5: 1, 6: 3}

In [91]:
countdict[5] =7
print countdict

{2: 2, 3: 1, 5: 7, 6: 3}

In [ ]:
countdict.